---
import "../styles/global.scss";
import "@fontsource/annie-use-your-telescope";
import "@fontsource/abel";
---

<div class="section aboutMe">
  <div class="aboutMe-main">
    <h1 class="aboutMe-title">About me</h1>
    <div class="container aboutMe-container mx-lg-5 mb-lg-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12" style="text-align: center;">
          <img src="me.jpeg" />
        </div>
        <div class="col-lg-6 col-md-12">
          <h3>Hey! Thanks for stopping by :)</h3>
          <p>
            My name is Oscar, I majored as a mechatronics engineer at
            Tecnológico de Monterrey in 2021 and I currently have three years of
            experience working as a software engineer.
          </p>
          <p>
            I started my fascination for coding while studying, working on
            school projects or messing with different libraries just for fun.
          </p>
          <p>
            I consider myself as a well-rounded developer. Whether it's crafting
            sleek and functional UIs, architecting essential APIs, or
            streamlining your services through automation, I'm here to bring
            your digital aspirations to life.
          </p>
          <p>My mantra: The sky is the limit!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .aboutMe {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    color: var(--black-chocolate);
  }

  .aboutMe h3 {
    font-family: "Annie Use Your Telescope", "normal";
    font-size: 2.5rem;
    margin: 0 0.5rem;
  }

  .aboutMe p {
    font-family: "Abel", "normal";
    font-size: 1.5rem;
    text-align: justify;
  }

  .aboutMe img {
    max-width: 100%;
  }

  @media (min-width: 601px) and (max-width: 992px) {
    .aboutMe img {
      max-width: 50%;
    }
  }

  @media (max-width: 600px) {
    .aboutMe img {
      max-width: 80%;
    }
  }

  @media (max-width: 992px) {
    .aboutMe img {
      border-radius: 50%;
      margin: auto;
    }

    .aboutMe p {
      font-family: "Abel", "normal";
      font-size: 1.2rem;
      text-align: justify;
    }

    .aboutMe h3 {
      font-family: "Annie Use Your Telescope", "normal";
      font-size: 1.6rem;
      margin: 0.2rem 0;
    }

    .aboutMe-main {
      padding: 2rem;
    }
  }

  .aboutMe-main {
    margin: 0;
  }

  .aboutMe-title {
    margin: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .aboutMe-container {
    max-width: fit-content;
  }
</style>
