---
import "../styles/global.scss";
import "@fontsource/abel"
---

<div class="footer">
    <p style="font-size: 1.5rem;">©2022 Oscar Morales</p>
    <p>🚀 Built using Astro</p>
</div>

<style>
    .footer {
        min-height: 2rem;
        font-family: "Abel", "normal";
        text-align: center;
        margin: 2rem;
    }

    .footer p {
        margin: 0.5rem;
    }
</style>