---
import "../styles/global.scss";
import "bootstrap/dist/css/bootstrap-grid.css";
---

<div class="section knownTools">
    <div id="knownTools-main">
        <h1 class="title">Tools I've worked with</h1>
        <div class="container-fluid containerDesktop">
            <div class="row align-items-center justify-content-center">
                <div class="col">
                    <h3>BackEnd</h3>
                </div>
                <div class="col">
                    <h3>FrontEnd</h3>
                </div>
                <div class="col">
                    <h3>Databases</h3>
                </div>
                <div class="col">
                    <h3>Automation</h3>
                </div>
                <div class="col">
                    <h3>Cloud</h3>
                </div>
            </div>
            <div class="row my-5 align-items-center justify-content-center">
                <div class="col">
                    <img src="tool-icons/nodejs.png" />
                </div>
                <div class="col">
                    <img src="tool-icons/reactjs.png" />
                </div>
                <div class="col">
                    <img src="tool-icons/postgres.png" />
                </div>
                <div class="col">
                    <img src="tool-icons/jenkins.png" />
                </div>
                <div class="col">
                    <img src="tool-icons/aws.png" />
                </div>
            </div>
            <div class="row my-5 align-items-center">
                <div class="col">
                    <img src="tool-icons/python.png" />
                </div>
                <div class="col">
                    <img src="tool-icons/astro.png" />
                </div>
                <div class="col">
                    <img src="tool-icons/dynamoDB.png" />
                </div>
                <div class="col">
                    <img src="tool-icons/terraform.png" />
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="container containerMobile">
            <div class="row justify-content-center">
                <div class="col fit-width">
                    <img src="tool-icons/nodejs.png" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col fit-width">
                    <img src="tool-icons/reactjs.png" />
                </div>
                <div class="col fit-width">
                    <img src="tool-icons/python.png" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col fit-width">
                    <img src="tool-icons/postgres.png" />
                </div>
                <div class="col fit-width">
                    <img src="tool-icons/aws.png" />
                </div>
                <div class="col fit-width">
                    <img src="tool-icons/jenkins.png" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col fit-width">
                    <img src="tool-icons/dynamoDB.png" />
                </div>
                <div class="col fit-width">
                    <img src="tool-icons/astro.png" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col fit-width">
                    <img src="tool-icons/terraform.png" />
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .knownTools {
        display: flex;
        flex-direction: column;
        background-color: var(--madder-lake);
        color: #ffff;
    }

    .knownTools img {
        margin: auto;
        display: block;
        background-color: #ffff;
        border-radius: 50%;
    }

    .knownTools h3 {
        background-color: var(--black-chocolate);
        color: #ffff;
        padding: 1rem 0;
        text-align: center;
    }

    .title {
        text-align: center;
        margin: 1.5rem;
        font-size: 3rem;
    }

    .containerMobile {
        display: none;
    }

    .containerDesktop {
        margin-top: 10vh;
        max-width: 85vw;
    }

    .fit-width {
        max-width: fit-content;
    }

    @media (max-width: 600px)  { 
        .containerDesktop {
            display: none;
        }

        .containerMobile {
            display: block;
            margin-top: 10vh;
            max-width: fit-content;
        }

        .knownTools img {
            max-height: 10vh;
    }
    }

    @media (min-width: 601px) { 
        .knownTools img {
            max-width: 11vw;
    }
    }

</style>
