---
import "bootstrap/dist/css/bootstrap-grid.css";
import "../styles/global.scss";
---
<main>
    <div class="overlay">
        <div class="gridTitle">
            <div>
                <h2 class="subtitle overlayAnimation" style="--time: 1s;">
                    Hello,
                </h2>
                <h2 class="subtitle overlayAnimation" style="--time: 2s;">
                    my name is
                </h2>
            </div>
            <h1 class="title overlayAnimation" style="--time: 3s;">
                OSCAR MORALES
            </h1>
            <div class="carousel overlayAnimation" style="--time: 5s;">
                <div class="pre">I am</div>
                <div class="change_outer">
                    <div class="change_inner">
                        <div class="element">
                            <h2>An Engineer</h2>
                        </div>
                        <div class="element">
                            <h2>A Developer</h2>
                        </div>
                        <div class="element">
                            <h2>Creative</h2>
                        </div>
                        <div class="element">
                            <h2>Adaptable</h2>
                        </div>
                        <div class="element">
                            <h2>Curious</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="imgSide">
            <img src="../public/assets/me.jpg" class="overlayAnimation" style="--time: 3s;"/>
        </div>
    </div>
</main>

<style>
    
	.overlay {
        min-height: 35rem;
		background-color: var(--black-chocolate);
		color: #ffff;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 100%;
        align-items: center; 
        justify-items: center;
	}

    .overlay img {
        width: 50%;
        border-radius: 50%;
        position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
    }

	.gridTitle {
		position: inherit;
		
	}

	.subtitle {
		display: table-cell;
		font-weight: 400;
		font-size: 2rem;
		letter-spacing: -0.0525em;
		padding-right: 0.8rem;
	}

	.title {
		display: table-header-group;
	}

    .imgSide {
        height: 100%;
        width: 100%;
        background-color: var(--madder-lake);
    }
</style>