---
import "bootstrap/dist/css/bootstrap-grid.css";
import "../styles/global.scss";
---
<main>
    <div class="overlay">
        <div class="gridTitle">
            <div>
                <h2 class="subtitle overlayAnimation" style="--time: 1s;">
                    Hello,
                </h2>
                <h2 class="subtitle overlayAnimation" style="--time: 2s;">
                    my name is
                </h2>
            </div>
            <h1 class="title overlayAnimation" style="--time: 4s;">
                OSCAR MORALES
            </h1>
            <div class="carousel overlayAnimation" style="--time: 6s;">
                <div class="pre">I am</div>
                <div class="change_outer">
                    <div class="change_inner">
                        <div class="element">
                            <h2>An Engineer</h2>
                        </div>
                        <div class="element">
                            <h2>A Developer</h2>
                        </div>
                        <div class="element">
                            <h2>Creative</h2>
                        </div>
                        <div class="element">
                            <h2>Adaptable</h2>
                        </div>
                        <div class="element">
                            <h2>Curious</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
	.overlay {
        min-height: 96vh;
		background-color: var(--black-chocolate);
		min-width: 100%;
		color: #ffff;
        display: flex;
	}

    @media (max-width: 600px) { 
        .overlay {
            min-height: 100vh;
        }
    }


	.gridTitle {
		display: inline-block;
        place-self: center;
        margin: auto;
	}

	.subtitle {
		display: table-cell;
		font-weight: 400;
		font-size: 2rem;
		letter-spacing: -0.0525em;
		padding-right: 0.8rem;
	}

	.title {
		display: table-header-group;
	}
</style>