---
import "../styles/global.scss";
import "@fontsource/abel"
---

<div class="miniMenu">
    <p>More about me: </p>
    <div class="menuActions">
        <div>
            <a href="https://www.linkedin.com/in/omoralespicazo" target="_blank" title="My LinkedIn">
                <img src="linkedin-icon.svg">
            </a>
        </div>
        <div>
            <a href="./OscarResume.pdf" target="_blank" title="My Resume">
                <img src="cv-icon.svg">
            </a>
        </div>
    </div>
</div>

<style>
    .miniMenu {
        position: fixed;
        display: flex;
        background-color: var(--cadet-blue);
        border-radius: 25px;
        opacity: 80%;
        padding: 10px;
        margin: 10px;
        opacity: 0;
        animation: fadeInMenu ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 3.5s;
        z-index: 10;
    }

    .miniMenu:hover {
        outline: auto;
    }

    .miniMenu p {
        font-family: "Abel", "normal";
        margin: 0.5rem;
        text-align: justify;
    }

    .menuActions {
        display: flex;
        margin: auto;
    }

    .menuActions img{
        max-height: 30px;
        margin: 0 5px;
    }

    .menuActions a:hover{
        animation: iconAnimation ease-in-out 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadeInMenu {
       0% {
           opacity: 0;
       }

      100% {
           opacity: 1;
           background-color: rgba(60, 128, 135, 0.8);
       }
    }

    @keyframes iconAnimation {
        100% {
        filter: invert(100%) sepia(71%) saturate(0%) hue-rotate(349deg) brightness(115%) contrast(101%);
       }
    }

    @media (max-width: 600px), (pointer:none), (pointer:coarse) {
        .miniMenu {
            bottom: 20px;
            right: 20px;
        }

        .miniMenu:hover {
            outline: 0;
        }

        .miniMenu p {
            display: none;
        }

        .menuActions {
            filter: invert(100%) sepia(71%) saturate(0%) hue-rotate(349deg) brightness(115%) contrast(101%);
        }

        .menuActions img{
        max-height: 10vh;
        margin: 1vh 3vw;
    }

        .menuActions a:hover {
            animation: none;
        }

        @keyframes fadeInMenu {
       0% {
           opacity: 0;
       }

      100% {
           opacity: 1;
           background-color: rgba(60, 128, 135, 0.9);
       }
    }

    }
</style>